{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-12">
                    <h2>Flask-MYSQLDB CRUD</h2>
                    
                    <table class="table">
                            <thead>
                              <tr>
                                <th>Class</th>
                                <th>Num</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Function</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for row in range(classes|count) %}
                            <tr id="{{row+1}}">
                              <form action="{{ url_for('update') }}" method="POST">                                
                                <td id="w">
                                  <p class="showhide">{{ classes[row].0 }}</p>  
                                  <input class="showhide" style="display:none" type="text" name="class" value = "{{ classes[row].0 }}"/>
                                </td>
                                <td>
                                  <p class="showhide">{{ classes[row].1 }}</p>  
                                  <input class="showhide" style="display:none" type="text" name="Num" value="{{ classes[row].1 }}">
                                </td>
                                <td>
                                  <p class="showhide">{{ classes[row].2 }}</p>  
                                  <input class="showhide" style="display:none" type="text" name="name" value="{{ classes[row].2 }}">
                                </td>
                                <td>
                                  <p class="showhide">{{ classes[row].3 }}</p>  
                                  <input class="showhide" style="display:none" type="text" name="gender" value="{{ classes[row].3 }}">
                                </td>                               
                              </form>   
                                <td>
                                    <input type="button" onclick="showorhide(this)" title="{{row+1}}" class="btn-warning btn-xs showhide" value="Edit"/>
                                    <!--<a href="/delete/{{ classes[row].1  }}" class=" btn-danger btn-xs showhide" >Delete</a>-->     
                                    <input type="button" onclick="location.href='/delete/{{ classes[row].1  }}'" class=" btn-danger btn-xs showhide" value="Delete" />   
                                    <button type="submit" style="display:none" class="showhide btn-warning">Y</button>
                                    <!--<a href="/" style="display:none" class=" btn-danger showhide">N</a>-->    
                                    <input type="button" onclick="document.location='/'" style="display:none" class="btn-danger showhide" value="N" />                                                                                         
                                </td>                                
                            </tr>                            
                            
                              {% endfor %}
                              <tr id="2">
                                  <form action="{{ url_for('Save') }}" method="POST">
                                    <td id="a">
                                      <input input id="create0" style="display:none" type ="text" name="class">
                                    </td>
                                    <td id="b"></td>
                                    <td id="c">
                                      <input input id="create2" style="display:none" type ="text" name="name">
                                    </td>
                                    <td id="d">
                                      <input input id="create3" style="display:none" type ="text" name="gender">
                                    </td>
                                    <td>
                                      <button id="save" style="display:none" type="submit" class="btn btn-primary">Save</button>
                                      <a href="#!" id="createme" class="btn btn-info btn-xs">Create</a>
                                    </td>
                                  </form>                         
                              </tr>      
                            </tbody>
                          </table>                      
                </div>
            </div>
        </div>

        {% endblock %}
